zabbix:
  server: http://192.168.100.100/zabbix
  username: Admin
  password: zabbix

kompira_cloud:
  token: your_kompira_cloud_api_token

general:
  host_prefix: KompiraCloudNode-     # Zabbixホスト名を生成する際、IPアドレスの前に追加する文字列
  default_groups:                    # デフォルトで割り当てるホストグループ(最低一つ必要。存在しない場合は自動作成)
    - Kompira cloud hosts
  default_templates:                 # デフォルトで割り当てるテンプレート
    - Template Module ICMP Ping
  snmp_templates:                    # SNMPサービスが動作しているノードに割り当てるテンプレート
    - Template Net Network Generic Device SNMPv2
