zabbix:
  server: http://192.168.100.100/zabbix
  username: Admin
  password: zabbix

kompira_cloud:
  token: your_kompira_cloud_api_token

general:
  # Zabbixにホストを登録する際のprefix設定
  host_prefix: KompiraCloudNode-

  # Zabbixにホストを登録する際、ホストに自動で割り当てるホストグループ
  # 最低1つ設定する必要があります。
  # 指定されたホストグループがZabbixに存在しない場合、自動で作成します。
  default_groups:
    - Kompira cloud hosts

  # Zabbixにホストを塘路k数る際、ホストに自動で割り当てるテンプレート
  default_templates:
    - Template Module ICMP Ping

  # Kompira cloudでSNMPサービスが動作していることが把握できているホストに
  # 自動で割り当てるテンプレート
  snmp_templates:
    - Template Net Network Generic Device SNMPv2
